################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RCE_POC/Injector/x64/Release/Injector.tlog
